// Fonts
$playFairRegular: 'playfair_displayregular', serif
$playFairBold: 'playfair_displaybold', serif
$playFairBlack: 'playfair_displayblack', serif
$openSansLight: 'open_sanslight', Arial, sans-serif
$openSansRegular: 'open_sansregular', Arial, sans-serif
$openSansSemiBold: 'open_sanssemibold', Arial, sans-serif
$openSansBold: 'open_sansbold', Arial, sans-serif
$openSansExtraBold: 'open_sansextrabold', Arial, sans-serif

// Colors
$gray: #576163
$lightYellow: #fde3c9
$yellow: #f8a25a
$beige: #fdfaf3
$lightBrown: #918e8b
$darkBlue: #182c3d


// Break Points
$mobile: 320px
$tablet: 768px
$desktop: 1170px

//Mixins