.video
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: center
	align-items: center
	position: relative
	height: 620px
	color: white
	@media screen and (min-width: $tablet)
		height: 820px
	@media screen and (min-width: $desktop)
		height: 600px
	&__frame
		width: 95%
		height: 95%
		margin: 0 auto
		box-shadow: 0 0 20px 0 black
	&__trigger
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: flex
		flex-direction: column
		flex-wrap: nowrap
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		background-size: cover
		background-position: center
		background-repeat: no-repeat
		background-color: transparent
		cursor: pointer
		z-index: 5
		&.is-hide
			display: none
	&__icon
		display: inline-flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: center
		align-items: center
		width: 90px
		height: 90px
		border-radius: 100%
		background-color: $yellow
		cursor: pointer
		@media screen and (min-width: $tablet)
			width: 120px
			height: 120px
		@media screen and (min-width: $desktop)
			width: 80px
			height: 80px
	&__head
		font-family: $openSansLight
		font-size: 22px
		line-height: 30px
		color: white
		@media screen and (min-width: $tablet)
			max-width: 80%
		@media screen and (min-width: $desktop)
			max-width: 100%
			font-size: 18px